In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pyarrow as pa

print('numpy version:', np.__version__)
print('pandas version:', pd.__version__)
print('seaborn version:', sns.__version__)
print('pyarrow version:', pa.__version__)

numpy version: 1.20.3
pandas version: 1.3.4
seaborn version: 0.11.2
pyarrow version: 8.0.0

In [9]:
weather = pd.read_csv('result.csv', skiprows=10)

In [5]:
weather

         209  20180101             .1
0        209  20180102
1        209  20180103
2        209  20180104
3        209  20180105
4        209  20180106
...      ...       ...    ...     ...
74301    391  20220426     -1       1
74302    391  20220427      0       1
74303    391  20220428      0       1
74304    391  20220429      0       1
74305    391  20220430      0       1

[74306 rows x 4 columns]