In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pyarrow as pa

print('numpy version:', np.__version__)
print('pandas version:', pd.__version__)
print('seaborn version:', sns.__version__)
print('pyarrow version:', pa.__version__)

numpy version: 1.20.3
pandas version: 1.3.4
seaborn version: 0.11.2
pyarrow version: 7.0.0

Loading both a single parquet file and all files into dataframes for examination.

In [66]:
import glob

# Local path to the dataset files: roadworks folder contains the parquets in this case
localpath = '/Stuff/School/SOFT/FHICT-S4-AI/Group/ANWB/roadworks'
isFirstRun = True
for path in glob.glob(f"{localpath}/*"):
#   Setting the relative path: this notebook is in the same directory as the roadworks folder that contains the parquets 
    path = path.replace(f"{localpath}\\", "roadworks/")
    if (path == 'roadworks/_SUCCESS'):
        continue
    else:
        if (isFirstRun):
            bdf = pd.read_parquet(path)
            isFirstRun = False
        else:
            bdf = bdf.append(pd.read_parquet(path))

sdf = pd.read_parquet("roadworks/part-00000-6d331a6a-a08a-4cfc-ad2c-d184f64be97e-c000.snappy.parquet")

pd.set_option('display.max_columns', None)

In [70]:
bdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122247 entries, 0 to 97
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   roadwork_id           122247 non-null  int64
 1   loaddatetimeutc       122247 non-null  datetime64[ns]
 2   road                  122247 non-null  object
 3   type                  122247 non-null  object
 4   roadwork_from         122247 non-null  object
 5   roadwork_to           122247 non-null  object
 6   roadwork_label        94553 non-null   object
 7   roadwork_reason       122247 non-null  object
 8   roadwork_start        122247 non-null  datetime64[ns]
 9   roadwork_stop         122247 non-null  datetime64[ns]
 10  radar_codedirection   122247 non-null  int64
 11  roadwork_fromloc_lat  122247 non-null  float64
 12  roadwork_fromloc_lon  122247 non-null  float64
 13  roadwork_toloc_lat    122247 non-null  float64
 14  roadwork_toloc_lon    122247 non-null  float64
 15  roadwork_segmentid    122247 non-null  int32
 16  segmentstart          122247 non-null  object
 17  segmentend            122247 non-null  object
 18  roadwork_afrc         122247 non-null  int32
 19  roadwork_category     122247 non-null  object
 20  roadwork_type         122247 non-null  object
dtypes: datetime64[ns](3), float64(4), int32(2), int64(2), object(10)
memory usage: 19.6+ MB

In [89]:
sdf.head()

,roadwork_id,loaddatetimeutc,road,type,roadwork_from,roadwork_to,roadwork_label,roadwork_reason,roadwork_start,roadwork_stop,radar_codedirection,roadwork_fromloc_lat,roadwork_fromloc_lon,roadwork_toloc_lat,roadwork_toloc_lon,roadwork_segmentid,segmentstart,segmentend,roadwork_afrc,roadwork_category,roadwork_type
0,284989500,2021-09-09 16:00:00,A1,a,afrit Markelo,afrit Markelo,closed,De afrit is dicht. Van 10 september 2021 20:00...,2021-09-10 18:00:00,2021-09-11 04:00:00,1,52.26259,6.45569,52.26259,6.45569,3002,Apeldoorn,Hengelo,0,roadworks,a
1,284989684,2021-09-09 16:00:00,A1,a,Deventer,Deventer,closed,De op- en afrit is dicht. Van 10 september 202...,2021-09-10 19:00:00,2021-09-11 04:00:00,1,52.23441,6.18282,52.23441,6.18282,3002,Apeldoorn,Hengelo,0,roadworks,a
2,284989585,2021-09-09 16:00:00,A1,a,knp. Hoevelaken,Amersfoort-Noord,closed,Dicht. Van 10 september 2021 22:00 uur tot 11 ...,2021-09-10 20:00:00,2021-09-11 05:00:00,0,52.17580,5.42840,52.19401,5.40317,3000,Amersfoort,Amsterdam,0,roadworks,a
3,284989410,2021-09-09 16:00:00,A1,a,afrit Soest,afrit Soest,closed,Oprit dicht. Van 9 september 2021 21:00 uur to...,2021-09-09 19:00:00,2021-09-10 03:00:00,0,52.22478,5.25528,52.22478,5.25528,3000,Amersfoort,Amsterdam,0,roadworks,a
4,284989774,2021-09-09 16:00:00,A2,a,Nieuwegein,Nieuwegein,closed,De afrit is dicht. Van 10 september 2021 22:00...,2021-09-10 20:00:00,2021-09-13 03:00:00,0,52.02208,5.06477,52.02208,5.06477,3104,Utrecht,'s-Hertogenbosch,0,roadworks,a

In [73]:
bdf["roadwork_id"].is_unique

False

roadwork_id, while being an Id is not a unique value in this dataset. This is because the same roadworks have been set in the same dataset, this could be because information changed of the roadwork, or could be that the record was just collected multiple times.  
This will have to be explored and cleaned, afterwards roadwork_id should be able to be used as index.

In [75]:
sdf["loaddatetimeutc"].unique()

array(['2021-09-09T16:00:00.000000000', '2021-09-09T13:01:00.000000000',
       '2021-09-09T14:01:00.000000000', '2021-09-09T15:00:00.000000000',
       '2021-09-09T18:01:00.000000000', '2021-09-09T17:01:00.000000000',
       '2021-09-09T23:00:00.000000000', '2021-09-10T02:00:00.000000000',
       '2021-09-09T21:00:00.000000000', '2021-09-09T20:01:00.000000000',
       '2021-09-09T22:01:00.000000000', '2021-09-10T01:00:00.000000000',
       '2021-09-09T19:01:00.000000000', '2021-09-10T00:00:00.000000000',
       '2021-09-09T12:01:00.000000000', '2021-08-26T17:01:00.000000000',
       '2021-08-26T19:01:00.000000000', '2021-08-26T21:00:00.000000000',
       '2021-08-26T18:01:00.000000000', '2021-08-26T20:00:00.000000000',
       '2021-09-11T02:01:00.000000000', '2021-09-11T00:01:00.000000000',
       '2021-08-26T22:00:00.000000000', '2021-08-26T23:00:00.000000000',
       '2021-08-27T01:00:00.000000000', '2021-08-27T02:00:00.000000000',
       '2021-08-27T00:00:00.000000000', '2021-09-11T03:01:00.000000000',
       '2021-09-10T11:01:00.000000000', '2021-09-10T13:00:00.000000000',
       '2021-09-10T12:01:00.000000000', '2021-09-10T15:01:00.000000000'],
      dtype='datetime64[ns]')

loaddatetimeutc seems to perfectly cover 1 day of datapoints, this could mean that the loaddatetimeutc is the time that the data was taken from ANWB and set into the original parquet file.

In [77]:
bdf['road'].unique()

array(['A1', 'A2', 'A6', 'A7', 'A8', 'A9', 'A12', 'A15', 'A16', 'A20',
       'A27', 'A28', 'A29', 'A30', 'A44', 'A50', 'A58', 'A59', 'A65',
       'A67', 'A76', 'A79', 'A348', 'N3', 'N18', 'N33', 'N35', 'N57',
       'N207', 'N210', 'N301', 'N307', 'N348', 'N362', 'A4', 'A10', 'A32',
       'N44', 'N99', 'N228', 'N247', 'N340', 'N2', 'N260', 'A18', 'A73',
       'A74', 'N11', 'N36', 'N48', 'N59', 'N917', 'N50', 'N200', 'A5',
       'A37', 'N65', 'A13', 'N256', 'A200', 'N31', 'N7', 'N62', 'A17',
       'N239', 'A31', 'A35', 'N264', 'N325', 'N786', 'N9', 'N14', 'A22',
       'N209', 'N280', 'N304', 'N351', 'N322', 'N61', 'N34', 'N612',
       'N244', 'N370', 'A208', 'N46', 'N32', 'N440', 'N471'], dtype=object)

Road shows the main road that the construction was done on. This feature should be categorial dtype.

In [90]:
bdf['type'].unique()

array(['a', 'n'], dtype=object)

Type seems to be in reference to road, where the type is what kind of road it is, in this case A or N which is also already conveyed in the road column.

In [79]:
sdf[['roadwork_from', 'roadwork_to', 'roadwork_label', 'roadwork_reason', 'roadwork_start', 'roadwork_stop']].head()

,roadwork_from,roadwork_to,roadwork_label,roadwork_reason,roadwork_start,roadwork_stop
0,afrit Markelo,afrit Markelo,closed,De afrit is dicht. Van 10 september 2021 20:00...,2021-09-10 18:00:00,2021-09-11 04:00:00
1,Deventer,Deventer,closed,De op- en afrit is dicht. Van 10 september 202...,2021-09-10 19:00:00,2021-09-11 04:00:00
2,knp. Hoevelaken,Amersfoort-Noord,closed,Dicht. Van 10 september 2021 22:00 uur tot 11 ...,2021-09-10 20:00:00,2021-09-11 05:00:00
3,afrit Soest,afrit Soest,closed,Oprit dicht. Van 9 september 2021 21:00 uur to...,2021-09-09 19:00:00,2021-09-10 03:00:00
4,Nieuwegein,Nieuwegein,closed,De afrit is dicht. Van 10 september 2021 22:00...,2021-09-10 20:00:00,2021-09-13 03:00:00

roadwork_from/to contains locations, these locations however are not standardized using for example mileposts causing deviations.  
These features can for this reason not easily be used as good categorical data.

In [78]:
bdf['roadwork_label'].unique()

array(['closed', None], dtype=object)

roadwork label contains only closed (there are no missing values so there are no NAN's that could be considerd a different category), this feature is useless because it will not convey any new information on a per record basis.  

roadwork_reason is a text field that contains custom text.

roadwork_start/stop are datetimes, so these columns will have to be datetime dtypes (when reading this dataset using pandas, it automatically made these features datetimes, indicating that there are no incorrect date formats).

In [81]:
bdf['radar_codedirection'].unique()

array([1, 0, 2], dtype=int64)

radar_codedirection contains 3 unique numbers, we assume that this is categorical however we do not know of what and will have to be looked into further.

In [83]:
bdf[['roadwork_fromloc_lat', 'roadwork_fromloc_lon', 'roadwork_toloc_lat', 'roadwork_toloc_lon']]

,roadwork_fromloc_lat,roadwork_fromloc_lon,roadwork_toloc_lat,roadwork_toloc_lon
0,52.26259,6.45569,52.26259,6.45569
1,52.23441,6.18282,52.23441,6.18282
2,52.17580,5.42840,52.19401,5.40317
3,52.22478,5.25528,52.22478,5.25528
4,52.02208,5.06477,52.02208,5.06477
...,...,...,...,...
93,51.98190,5.97862,51.98190,5.97862
94,51.71358,4.39935,51.71358,4.39935
95,51.71358,4.39935,51.71358,4.39935
96,51.90808,4.62108,51.90808,4.62108
97,51.90808,4.62108,51.90808,4.62108

roadwork_\*loc_\* holds the longtitude and latitude of the start and endlocation of the roadworks.

In [92]:
bdf[['roadwork_segmentid', 'segmentstart', 'segmentend']]

    roadwork_segmentid    segmentstart        segmentend
0                 3002       Apeldoorn           Hengelo
1                 3002       Apeldoorn           Hengelo
2                 3000      Amersfoort         Amsterdam
3                 3000      Amersfoort         Amsterdam
4                 3104         Utrecht  's-Hertogenbosch
..                 ...             ...               ...
93                3022          Arnhem      Duitse grens
94                3210  Bergen op Zoom         Rotterdam
95                3210       Rotterdam    Bergen op Zoom
96                3600       Rotterdam       Schoonhoven
97                3600     Schoonhoven         Rotterdam

[122247 rows x 3 columns]

the segment columns indicate again the main start and endpoints of the roadworks, with the segmentid being an identifier for this segment.

In [98]:
# bdf[['roadwork_afrc', 'roadwork_category', 'roadwork_type']]
bdf['roadwork_afrc'].unique()

array([0, 3, 4])

roadwork_afrc contains 3 numerical values, these seem to be categorical but we do not know what it is refering.

In [100]:
bdf['roadwork_category'].unique()

array(['roadworks'], dtype=object)

roadworks_category only contains the string 'roadworks' this gives no further information and can be ignored.

In [101]:
bdf['roadwork_type'].unique()

array(['a', 'n'], dtype=object)

roadwork_type contains two categorical values: a and n, these could reffer to the two types of main roads: A and N, however this has already been specified and would thus be unnecessary.

In [7]:
df.describe()

,roadwork_id,radar_codedirection,roadwork_fromloc_lat,roadwork_fromloc_lon,roadwork_toloc_lat,roadwork_toloc_lon,roadwork_segmentid,roadwork_afrc
count,2.624000e+03,2624.000000,2624.000000,2624.000000,2624.000000,2624.000000,2624.000000,2624.000000
mean,4.392437e+08,0.703125,52.108994,5.351991,52.108366,5.352072,3700.841082,0.870046
std,6.111972e+08,0.678557,0.530887,0.799837,0.532990,0.800109,1811.779190,1.361567
min,2.283805e+08,0.000000,50.818840,4.009850,50.818840,4.009850,3000.000000,0.000000
25%,2.829069e+08,0.000000,51.822330,4.668280,51.822330,4.679400,3185.750000,0.000000
50%,2.840635e+08,1.000000,52.016110,5.376370,52.016110,5.376370,3349.000000,0.000000
75%,2.849895e+08,1.000000,52.441440,6.006570,52.441440,6.006570,3461.000000,3.000000
max,2.851187e+09,2.000000,53.317460,6.971020,53.317460,6.971020,22571.000000,3.000000

The numerical values described above, seem to all not actually be numerical values that can be used as such. For example the roadwork_loc columns contain latitude and longtitude values that are linked to a location within the Netherlands, specifically roadpoints.

In [106]:
# sns.histplot(y=df['roadwork_segmentid'])

# g = sns.histplot(y=df['roadwork_segmentid'])
# g.set_xlim(left=0, right=5)